<div class="details">
  <div class="detail-item">
    <div class="line-item display-inline-block">Balance includes interest of</div>
    <div name="interestAmount" class="amount line-height-30 display-inline-block">{{personalLoan.interestAmount | currency}}</div>
    <div class="comment display-inline-block">
      &nbsp;
    </div>
  </div>
  <div class="detail-item">
    <div class="line-item display-inline-block">Early repayment fee</div>
    <div name="earlyRepaymentFee" class="amount line-height-30 display-inline-block">{{personalLoan.earlyRepaymentFee | currency}}</div>
    <div class="comment display-inline-block">
      &nbsp;
    </div>
  </div>
  <div class="detail-item">
    <div class="line-item display-inline-block">Payout / Carryover amount</div>
    <div name="carryoverAmount" class="amount line-height-30 display-inline-block bold">{{personalLoan.carryoverAmount | currency}}</div>
    <div class="comment display-inline-block">This amount will be carried over</div>
  </div>
</div>