.loan-summary {
    max-width: 800px;
    width: 90%;
    border: #dcdcdc 2px solid;
    margin-bottom: 30px;
    >.header {
        background-color: #eeeeee;
        padding: 5px 10px;
        border-bottom: #dcdcdc 2px solid;
    }
    >.body {
        background-color: #ffffff;
        .line-item {
            width: 40%;
            padding-left: 10px;
        }
        .amount {
            width: 20%;
        }
        .comment {
            width: 35%;
            padding-left: 10px;
        }
    }
}