<div class="loan-summary margin-left-100">
  <div class="header">1. Loan name</div>
  <div class="body">
    <div class="basic line-height-40">
      <div class="line-item display-inline-block">Balance</div>
      <div class="amount display-inline-block">$1111</div>
      <div class="action-comment display-inline-block">
        <input type="checkbox" value="Top Up" id="topUp" />
        <label for="topUp">Top Up</label>
      </div>
    </div>
    <app-loan-details></app-loan-details>
  </div>
</div>